<footer class="footer">
  <div class="container jumbotron col-md-12">
    
    <div class="col-md-3">
      <p id="footer-nav-title"><b>Contact us</b></p >
      <form action="#" id="footer-contact-form">
        <input type="name" class="form-control" id="name" placeholder="Name" name="name">
        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
        <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-link pull-right">Send</button>
      </form>
      <div id="footer-contact-info">
        <p>Tel: 0123456789</p >
        <p>Fax: 0123456</p >
        <p>junliang.jiang@rmit.edu.au</p >
      </div>
    </div>
    
    <div class="col-md-3">
      <p id="footer-nav-title"><b>General inquires</b></p >
      <div>
        <%= link_to "Andy Song", '#' %>
        <br>
        <%= link_to "Junliang Jiang", '#' %>
        <br>
        <%= link_to "Ali", '#' %>
      </div>
    </div>
    
    <div class="col-md-3">
      <p id="footer-nav-title"><b>Useful links</b></p >
      <div>
        <%= link_to "RMIT Course", 'https://www.rmit.edu.au/about/our-education/academic-schools/global-urban-and-social-studies/our-teaching-areas/our-programs-and-courses' %>
        <br>
        <%= link_to "RMIT Help Desk", 'https://www.rmit.edu.au/contact/online-enquiries/local-student-enquiries' %>
        <br>
        <%= link_to "RMIT International", 'https://www.rmit.edu.au/study-with-us/international-students' %>
      </div>
    </div>
    
    <div class="col-md-3">
      <p id="footer-nav-title"><b>Media</b></p >
      <div>
        <%= link_to "Youtube", 'https://www.youtube.com/' %>
        <br>
        <%= link_to "Twitter", 'https://twitter.com/' %>
        <br>
        <%= link_to "Facebook", 'https://www.facebook.com/' %>
        <br>
        <%= link_to "Instagram", 'https://www.instagram.com/' %>
        <br>
        <%= link_to "Skype", 'https://www.skype.com/' %>
      </div>
    </div>
    
  </div>
</footer>